html,
body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    font-family: 'Rubik', sans-serif;
    background-color: #e7e7e7;

}

/* *{
    margin: 0;
    padding: 0;
} */
:root {
    --nav-color: #dae0e5;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* ===============================Navbar============================= */
nav {
    z-index: 2;
    position: fixed;
}

.social-link {
    background-color: rgb(29, 29, 29);
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

/* .active {
    /* padding-left: 10px; */
/* } */

nav ul li a {
    font-size: 11px;
}

/* =============================Footer================================ */
.footer {
    position: fixed;
    width: 100%;
    height: 20px;
    background-color: #000000c2;
    padding-right: 7px;
    bottom: 0;
}

.icon_footer {
    float: right;
    display: flex;
    list-style: none;
    cursor: pointer;
    padding-right: 10px;
}

.icon_footer li {
    padding: 0px 5px;
    color: black;
}

.trang {
    color: #fff;
}

.footer-info {
    border-top: solid #333;
    margin: 30px 0 50px 0;
    padding-bottom: 50px;
    padding-top: 20px;
}

.socail {
    margin-left: 50px;
}

.socail h5 {
    font-weight: 300;
}

.socail a,
p {
    margin: 0;
    color: #333;
    font-family: 'Rubik-light', sans-serif;
    font-weight: 100;
}

a :hover {
    color: #333;
    font-family: 'Rubik', sans-serif;
}

/*==============================Contact==============================  */
.contact_body {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
}

.info_studio {
    display: block;
    height: 100%;
    background-image: url(/images/323134e02842d38aae3adb17ad5321f2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.info_studio h3 {
    padding-top: 20px;
}

.contact-icon li {
    display: flex;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding: 10px;
}

.contact-icon li p {
    padding: 0px 5px 2px 8px;
}

.contact .row .card {
    border: none;
    margin: 20px;
    padding-top: 15px;
}

.containerForm {
    padding-left: 38px;
    position: absolute;

}

.containerForm h2 {
    color: #0f3959;
    font-size: 24px;
    font-weight: 500;
}

.containerForm .formBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.containerForm .formBox .inputBox {
    position: relative;
    margin: 0 0 35px 0;
}

.containerForm .formBox .inputBox.w50 {
    width: 47%;
}

.containerForm .formBox .inputBox.w100 {
    width: 100%;
}

.containerForm .formBox .inputBox textarea,
.containerForm .formBox .inputBox input {
    border: #fff solid;
    width: 100%;
    padding: 5px 0;
    resize: none;
    font-size: 15px;
    font-weight: 400;
    color: #333;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}

.containerForm .formBox .inputBox textarea {
    min-height: 120px;
}

.containerForm .formBox .inputBox input[type="submit"] {
    position: relative;
    cursor: pointer;
    background: #e6e7e8;
    color: rgb(15, 15, 15);
    border: none;
    max-width: 150px;
    padding: 12px;
    border: 3px #fff solid;
}

.containerForm .formBox .inputBox input[type="submit"]:hover {
    background: #8d8c8c;
}

.containerForm .formBox .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 13px;
    font-weight: 400;
    color: #333;
    transition: 0.5s;
    pointer-events: none;
}

.containerForm .formBox .inputBox input:focus~span,
.containerForm .formBox .inputBox textarea:focus~span,
.containerForm .formBox .inputBox input:valid~span,
.containerForm .formBox .inputBox textarea:valid~span {
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #131212
}

/* ===================================About===================*/
.member,
.about_body {
    width: 100%;
    height: 100%;
    padding-top: 5px;
}

.content_about {
    width: 100%;
    height: 75%;
}

.left-img img {
    width: 100%;
    height: 100%;
}

.member {
    margin: 0;
    padding: 0;
}

.right-img img {
    width: 100%;
    margin-left: 10px;
}

.info_member {
    height: 50%;
    width: 100%;
}

.info_member .card {
    border: none;
}

.logo-about {
    width: 56px;
}

.head-about {
    display: block;
    margin: 40px 0;
    text-align: center;
    padding: 20px 0;
}

.img_head_about {
    bottom: 0;
    padding-bottom: 0px;
}

.head-about-content {
    margin-bottom: 1.6em;
    padding: 10px 0 0 0;
}

hr {
    font-weight: 600;
}

.head-about p {
    font-weight: 500;
}



.content {
    margin-left: 20px;
}

.content h3 {
    font-weight: 400;
    padding-bottom: 50px;
}

.content h4 {
    font-weight: 400;
}



.card {
    border: none;
    background-color: #a8a7a7;
}

.scrollreveal {
    opacity: 1;
    visibility: visible;
}

.member-info {
    border-radius: 10px;
    width: 76%;
    position: relative;
}

.member-info img {
    width: 40%;
}

.card-body h5 {
    margin: 0;
}

.card-body p {
    margin: 0;
}

.why_about {
    margin: 0;
    padding: 0;
}

.why_about_title {
    padding-top: 25px;
}

.content_why {
    line-height: 1.6;
    font-size: 15px;
    padding-top: 13px;
    padding-left: 40px;
}

.icon-why {
    width: 100%;
    margin-right: 10px;
    margin-top: 25px;
    padding-bottom: 3px;
    height: 33px;
    float: right;
    font-size: 26px;
}

.icon-why img {
    /* width: 100%; */
    height: 100%;
    padding: 0 5px;
}

.img_content_why {
    width: 98%;
    /* height: 40%; */
    box-shadow: -3px 4px 7px 0px #888888;
}

.content_why h6 {
    padding-top: 0.2em;
    padding-top: 10px 0;
    font-weight: 600;
    font-family: 'Rubik-Both', sans-serif;
}

.why_des {
    width: 60%;
}

.content-next-why-about {
    text-decoration: none;
    margin-top: 10px;
    float: right;
    padding-left: 40px;
    width: 80%;
}

.blank {
    width: 100%;
    padding: 15px;
}

.p-l-12 {
    padding-top: 10px;
    /* padding-left: 8px; */
}

.p-top-50 {
    padding-top: 45px;
}

.core-team {
    height: 46%;
    width: 100%;
    background-color: #a8a7a7;
    padding: 0;
    margin: 10px 0 0 0;
}

.card-body {
    padding: 0;
}

.card-title {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0;
}

.core-team .card-text {
    font-size: 12px;
}

.section {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.card-about {
    padding-top: 0.5em;
}

.work-flow h3 {
    text-align: center;
    padding-top: 2.2em;
    padding-bottom: 2.2em;
}

.content-work-flow {
    margin-bottom: 3em;
    margin-left: 1.5em;
}

.content-work-flow h6 {
    font-family: 'Rubik-Both', sans-serif;
    font-weight: bold;
}

.content-work-flow p {
    padding-top: 0.8em;
    padding-left: 40px;
    padding-right: 1.5em;
    padding-bottom: 0.5em;
    font-family: 'Rubik-Light', sans-serif;
}

.content-work-flow a {
    color: #333;
    padding-top: 0.8em;
    padding-left: 40px;
    padding-right: 1.4em;
    font-family: 'Rubik-Light', sans-serif;
}

.accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
}



.accordion button {
    padding-left: 2.3em;
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    /* padding: 1em 0; */
    color: #333;
    font-size: 1em;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
}

.accordion button:hover,
.accordion button:focus {
    cursor: pointer;
    /* color: #03b5d2; */
}

.accordion button:hover::after,
.accordion button:focus::after {
    cursor: pointer;
    color: #03b5d2;
    border: 1px solid #03b5d2;
}

.accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
}

.accordion button .icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}

.accordion button .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}



.accordion button[aria-expanded=true] .icon::after {
    width: 0;
}

.accordion button[aria-expanded=true]+.accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content p {
    font-size: 0.8rem;
    font-weight: 300;
    margin: 2em 0;

}
.work-flow img {
    width: 90%;
    box-shadow: -4px 5px 7px 0px #888888;
}

.service {
    position: relative;
}

.img_service {
    height: 24%;
    bottom: 0;
    background-position-x: center;
    background-position-y: top;
    width: 100%;
    background-image: url(../images/AboutUs/CAM01.jpg);
}

.service_about{
    position: relative;
    margin: 0px;
    padding-top: 4em;
}
.service_about h6{
    font-weight: 550;
}

.service_about  img {
    width: 78%;
    max-height: 70%;
    margin-left: 3em;
    box-shadow: 3px 4px 7px 0px #888888;
}

.content_service{
    line-height: 1.5;
    padding-top: 2em;
    padding-left: 3em;
    text-decoration: none;
}

.content_service ul{
    padding: 0;
    list-style-type: none;
}
.p-t-05{
    padding-top: 1em;
}
/* ===================================Work====================*/
.body_work {
    width: 100%;
    height: 100%;
    background-color: #e7e7e7;
}

.banner {
    width: 100%;
    height: 100%;
    background-image: url(/images/Work/FrontART/FA_01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: banner;
    animation-duration: 18s;
    animation-iteration-count: infinite;
}

@keyframes banner {

    30% {
        background-image: url(/images/Work/FrontART/FA_00.jpg);
    }

    60% {
        background-image: url(/images/Work/FrontART/FA_01.jpg);
    }

    100% {
        background-image: url(/images/Work/FrontART/FA_00.jpg);
    }

}

.banner h2 {
    text-align: center;
    padding: 20%;
    margin: auto;
}

.noidung-work {
    display: flex;
    flex-wrap: wrap;
    /* width: 100%; */
}

.noidung-work .khoianh {
    padding: 10px;
    position: relative;
    width: 33.3%;
    box-sizing: border-box;
}

.khoianh img {
    width: 100%;
    margin: 0px;
    box-shadow: 3px 4px 7px 0px #888888;
}

.hover-effect .hover-content {
    position: absolute;
    text-align: left;
    width: 100%;
    bottom: 0;
    left: 0;
}

.hover-effect .hover-content {
    position: absolute;
    text-align: left;
    width: 100%;
    bottom: 35px;
    left: 0;
}

.hover-content h3 {
    color: #fff;
    font-family: 'Kanit', sans-serif;
    padding-left: 15px;
    padding-bottom: 5px;
    font-size: 15px;
    margin: 4px 0 -31px 0;
    transition: 00.5s;
    transform: translateY(0px);
    text-transform: uppercase;
}

.khoianh figure {
    margin: 0;
}

.khoianh figure img {
    display: block;
    transition: all 0.8s;
    cursor: pointer;
}

.hover-content h3 em {
    font-weight: 200;
    font-style: normal;

}

.khoianh:hover h3 {

    transform: translateY(-25px);
    font-weight: 300;

}

.hover-content p {
    font-size: 10px;
    padding-left: 15px;
    padding: 0px;
    opacity: 0;
    transition: 0.5s;
    margin-left: 15px;
    text-transform: uppercase;
    font-weight: 200;
}

.khoianh:hover img {
    opacity: 2.8;
    background-color: rgba(0, 0, 0, 0.37);
}

.khoianh figure:hover img {
    opacity: 0.75;
    /* transform: scale(1.04); */
}

.khoianh:hover p {
    opacity: 1;
    transform: translateY(9px);
    color: #fff;
}

/* ========================================================================================Æ°
===============================================STORE========================================
============================================================================================ */
.store-body {
    overflow-y: visible;
    background-color: rgb(236 236 236);
    padding: 50px;
    font-family: 'Rubik', sans-serif;
}

.store-body img {
    width: 100%;
}

.info-store {
    padding: 20px 0;
}

.body_blog {
    overflow: hidden;
}

.blog {
    overflow-x: hidden;
    height: 100%;
    width: 103%;
    overflow: scroll;
    opacity: initial;
    cursor: pointer;
}

.blog_param:hover img {
    background-color: rgb(200, 200, 200);
    transform: scale(1.025);
}

.info-store:hover h5 {
    color: rgb(100, 98, 98);
    transform: scale(1.025);
}

.blog a {
    color: #333;
}

.des-qa {
    position: relative;
}

.des-qa-title {
    cursor: pointer;
}

.des-qa-content-1 {
    opacity: 0;
    position: absolute;
    width: 0;
    height: auto;
    background-color: #313131;
    color: #fff;
    border: rgb(251, 251, 251) solid 2px;
    border-radius: 8px;
    transform: translateX(50000px);
    transition-timing-function: ease-in-out;

}

.des-qa-content-1 p {
    color: #ddd;
    padding: 5px;
}

.des-qa-title:hover+#qa-1 {
    opacity: 1;
    width: 100%;
    transform: translateX(0);
    z-index: 3;
}

/* ====================================Responsive==========================================
===========================================================================================
=========================================================================================== */

@media screen and (max-width: 1024) {

    html,
    body {
        overflow: auto;
    }
}

/* ========================Animation intro============================== */
.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url(../images/Home/HOME_FP01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.overlay h1 {
    border: 2px soild #333;
    font-weight: 400;
    color: #ffff;

}

.overlay span {
    color: #ffff;
    font-size: 30px;
    letter-spacing: 3px;
}

/* ==========================================================
========================SLIDER============================== */

.slider {
    position: relative;
    height: 100vh;
    background-image: url(../images/Work/Works/008_a.jpg);
    background-size: cover;
}

